<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/build/css/main.css" />
  <title>Foderstatsberäknaren</title>
</head>
<header>
  <div class="header-wrapper">
    <div id="header-logo"></div>
    <nav>
      <ul id="main-menu">
        <li><a href="/">Start</a></li>
        <li class="expandable"><a href="/profiles">Profiler</a>
          <ul class="sub-menu">
            <li><a href="/profile/add">Lägg till profil</a></li>
            <li><a href="/profiles">Visa alla profiler</a></li>
          </ul>
        </li>

        <li><a href="/calculator">Kalkylatorn</a></li>
      </ul>
    </nav>
  </div>
</header>

<body>
  {{!-- <div id="background-wrapper"></div> --}}
  <div id="background-polygon">
    {{{ body }}}
  </div>

</body>
<footer>
  <P>Programmet är endast ett hjälpmedel och du som ägare bär huvudansvaret för att din häst har en korrekt foderstat.
  </P>
  <p>Programmet är inte utformat för att upptäcka giftiga överdoseringar eller doseringar som kan orsaka störningar.</p>
</footer>
<script>
  if (document.querySelector('body')) {
    console.log(document.querySelector('body').scrollHeight)
    if (document.querySelector('#background-wrapper')) {
      document.querySelector('#background-wrapper').style.height = document.querySelector('body').scrollHeight
    }

  }

  document.querySelector('#header-logo').addEventListener('click', () => {
    window.location.href = window.location.origin + '/'
  })

  if (document.querySelector('.active')) document.querySelector('.active').classList.remove('active')

  let menu_items = document.querySelector('#main-menu').getElementsByTagName('a')
  for (let i = 0; i < menu_items.length; i++) {
    let item = menu_items[i]
    if (item.getAttribute('href') === window.location.pathname) {
      item.classList.add('active')
    }
  }

</script>

</html>