<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/build/css/main.css"/>
    <title>Foderstatsberäknaren</title>
  </head>
  <header>
    <div class="header-wrapper">
      <h1>Equine <span>Feed Estimator</span></h1>
      <nav>
          <ul id="main-menu">
              <li><a href="/">Start</a></li>
              <li class="expandable"><a href="/profiles">Profiler</a>
                <ul class="sub-menu">
                    <li><a href="/profile/add">Lägg till profil</a></li>
                    <li><a href="/profiles">Visa alla profiler</a></li>
                </ul>
              </li>
              
              <li><a href="/calculator">Kalkylatorn</a></li>
          </ul>
      </nav>
    </div>
  </header>
<body>

    {{{ body }}}
    
</body>
  <footer>
    <P>Programmet är endast ett hjälpmedel och du som ägare bär huvudansvaret för att din häst har en korrekt foderstat.</P>
    <p>Programmet är inte utformat för att upptäcka giftiga överdoseringar eller doseringar som kan orsaka störningar.</p>
  </footer>
</html>