<section class=" wrapper">
    <div class="card-wrapper">
        <div class="text-box first">
            <h2 class="section-heading">Skapa en profil för din häst</h2>
            <p>Skapa en personlig profil för din häst där du kan samla och överblicka dina foderstatsberäkningar.</p>
            <button>Skapa en profil</button>
        </div>
        <div class="circle"></div>
    </div>

    <div class="card-wrapper right">
        <div class="text-box second">
            <h2 class="section-heading">Utforska foderstats kalkylatorn</h2>
            <p>Du kan utforska kalkylatorn direkt utan att ha skapat en profil.</p>
            <button>Beräkna foderstat</button>
        </div>
        <div class="circle"></div>
    </div>

    <div class="card-wrapper center">
        <div class="text-box third">
            <h2 class="section-heading">Se hur andra har löst sina foderstater.</h2>
            <p>Lista alla profiler som finns skapade och undersök hur deras beräkningar ser ut.</p>
            <button>Visa alla profiler</button>
        </div>
        <div class="circle"></div>
    </div>
</section>

<script type="text/javascript" src="/scripts/scripts.js"></script>