<div class="cards_wrapper wrapper">
    <section class="sec_first">
        <a href="/calculator">
            <h2 class="section-heading">Beräkna foderstat</h2>
        </a>
        <div class="image-wrap"></div>
    </section>

    <section class="sec_second">
        <a href="/profiles">
            <h2 class="section-heading">Visa alla Profiler</h2>
        </a>
        <div class="image-wrap"></div>
    </section>
    <section class="sec_third">
        <a href="/profile/add">
            <h2 class="section-heading">Skapa en ny profil</h2>
        </a>
        <div class="image-wrap"></div>
    </section>
</div>

<script type="text/javascript" src="/scripts/scripts.js"></script>