.feeding-calculator-wrapper {
    width: 100%;
    box-sizing: border-box;
    max-width: $max-width;
    padding: 15px;
    background-color: $primary_gray;
    outline: 3px solid $accent_color;
    margin: auto;

    form {
        width: auto;
        height: auto;
        background-color: $light_gray;
        margin: auto;
        padding-bottom: 15px;

        input[type=submit] {
            margin: 1rem auto 0;
            padding: 15px 10px;
            background-color: $accent_color;
            font-family: $font;
            font-size: 1rem;
            border: none;
            border-radius: 15px;
            box-shadow: 2px 2px 5px black;

            &:hover {
                background-color: lighten($accent_color, 2%);
                cursor: pointer;
            }
        }
        
        .feeding-calculator-flex-wrap {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;

            .calculator-labels {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 0.9rem;
                text-align: center;
                
                label {
                    padding: 5px;
                    box-sizing: border-box;
                    
                    &:nth-child(even) {
                        background: lighten($light_gray, 3%);
                    }
                }

                span {
                    @media screen and (max-width: 767px){
                        display: block;
                    }
                }

                @media screen and (max-width: 375px) {
                    font-size: 0.625rem;
                }

                @media screen and (max-width: 767px) and (min-width: 376px) {
                    font-size: 0.7rem;
                }
            }
        }
        
        .form-feed {
            width: 100vw;
            padding: 10px 30px;
            box-sizing: border-box;
        }
        
        .form-feed-input {
            display: flex;;
            padding: 10px;
            margin: 0;
            max-width: 120px;
            width: 12%;
            box-sizing: border-box;
            font-size: 0.9rem;

            @media screen and (max-width: 375px) {
                font-size: 0.625rem;
                padding: 10px 5px;
            }

            @media screen and (max-width: 767px) and (min-width: 376px) {
                font-size: 0.7rem;
            }
        }

        div:not(.add-row) {
            display: flex;
            flex-basis: 100%;
            width: 100%;
            justify-content: center;

            label {
                display: block;
                max-width: 120px;
                width: 12%;
            }
        }

        .form-feed-submit {
            display: block;
        }

        .add-row {
            display: inline-block;
            width: 30px;
            height: 30px;
            margin: 25px 0 0 2%;
            color: $black;
            background-color: $accent_color;
            font-size: 1.5rem;
            text-align: center;
            position: relative;

            span {
                position: absolute;
                top: -20px;
                left: 0;
                font-size: 0.8rem;
                white-space: nowrap;
            }

            &:hover {
                cursor: pointer;
                background-color: lighten($accent_color, 5%);
            }
        }
    }
}

.result-wrapper {
    display: flex;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    flex-wrap: wrap;
    margin: 30px auto;

    .profile-name {
        flex-basis: 100%;
        text-align: center;
        margin: 0;
    }

    section {
        width: 100%;
        font-family: $font;
        flex-basis: 22.5%;

        h2 {
            text-align: center;
            text-transform: capitalize;
            font-size: 1.5rem;
            margin: 20px 0;
            font-weight: unset;
            white-space: nowrap;

            @media screen and (max-width: 768px) {
                text-align: left;
                margin-left: calc(25% + 20px);
            }

            @media screen and (max-width: 1023px) and (min-width: 769px) {
                font-size: 1.1rem;
            }
        }

        ul {
            display: block;
            padding: 0;
            margin: 0;

            li {
                list-style-type: none;
                display: block;
                min-height: 25px;
                text-align: center;
                justify-content: center;
                align-content: center;
                box-sizing: border-box;
                line-height: 25px;

                @media screen and (max-width: 768px) {
                    text-align: left;
                    padding-left: 10px;
                    display: block;
                    flex-basis: 60%;
                }
            }

            label {
                display: none;
                hyphens: auto;
                margin-right: 15px;

                @media screen and (max-width: 768px) {
                    display: block;
                    flex-basis: 25%;
                    text-align: right;
                }
            }
            
            li:nth-of-type(odd) {
                background-color: $light_gray;
            }

            li:nth-of-type(even) {
                background-color: lighten($light_gray, 5%);
            }

            @media screen and (max-width: 768px) {
                display: flex;
                flex-wrap: wrap;
            }
        }

        &.result-labels {
            margin-top: calc(1.5rem + 43px);
            width: 50%;
            flex-basis: 9%;

            ul {
                margin: 0;
                
                li {
                    text-align: right;
                    background: transparent;
                    padding-right: 10px;
                    white-space: nowrap;
                }
            }
        }

        @media screen and (max-width: 768px) {
            flex-basis: unset;
            border: 0;
        }

        @media screen and (max-width: 1023px) and (min-width: 769px) {
            flex-basis: 22%;
        }
    }

    .high-value, .low-value {
        color: darkred;
    }

    .good-value {
        color: green;
    }

    @media screen and (max-width: 768px) {
        flex-wrap: wrap;
        flex-basis: 16.6%;

        .result-labels {
            display: none;
        }
    }
}