header {
    
    background-image: url('../../images/svg/header.svg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center bottom;
    height: 516px;
    overflow: hidden;
    font-family: $font-text;
    text-transform: capitalize;
    line-height: 140%;
    padding-bottom: 0;
    position: relative;
    
    #header-logo {
        background-image: url(../../images/svg/logo.svg);
        background-repeat: no-repeat;
        width: 320px;
        height: 178px;
        position: absolute;
        top: -65px;
        right: -65px;

        &:hover {
            cursor: pointer;
        }
    }

    .header-wrapper {
        margin: auto;
        max-width: $max-width;
        position: relative;

        nav {
            margin-top: 15px;

            li:first-child {
                padding-left: 0;
            }
        }
    }
}