nav {
    ul {
        li {
            list-style-type: none;
        }
    }

    #main-menu {
        display: flex;
        list-style: none;
        padding: 0;
        color: $white;
        margin-top: 135px;

        li {
            padding: 15px;
            padding-bottom: 5px;
            font-size: 20px;
        }

        .active {
            color: $aqua!important;
        }

        a {
            color: $light-aqua;
            padding: 10px;

            &:hover {
                color: $white;
                text-decoration: underline;
                cursor: pointer;
            }

            &:active {
                border: 1px solid $aqua;
            }
        }
        
        .expandable {
            display: inline-block;

            a {
                color: $light-aqua;
            }
            
            .sub-menu {
                display: block;
                opacity: 0;
                position: absolute;
                transition: ease .4s;
                height: 0;
                margin-left: -15px;
                margin-top: 2px;
                padding-left: 5px;

                a {
                    color: $light-aqua;
                }
            }
            
            &:hover {
                a {
                    color: $yellow;

                    &:hover {
                        color: $white;
                    }
                }
                
                
                .sub-menu {
                    opacity: 1;
                    transition: ease .8s;
                    background-color: $dark-blue;
                    border-top: 0;
                    padding-top: 21px;
                    height: auto;
                    
                    li {
                        padding: 10px;
                    }

                    a {
                        color: $light-aqua;
                        &:hover {
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}