.profile {
    outline: 3px solid $accent_color;
    background-color: $primary_gray;
    padding: 15px;
    margin: 15px auto;
    width: 100%;
    max-width: $max-width;
    box-sizing: border-box;

    form {
        background-color: $light_gray;
        width: auto;
        padding: 15px;
        margin-bottom: 0;
        display: flex;
        flex-wrap: wrap;

        input,
        select {
            margin: 5px 0;
            width: 100%;
            height: 25px;
        }

        select {
            margin: 5px 0;
        }

        .profile-basics {
            display: flex;
            flex-basis: 67%;

            .profile-section {
                flex-basis: 50%;
                padding: 15px;
            }

            @media screen and (max-width: 767px) {
                flex-basis: 100%;
            }

            @media screen and (max-width: 424px) {
                display: block;
            }
        }

        .profile-section {
            display: block;
            padding: 15px;
            box-sizing: border-box;
            flex-basis: 33%;

            .profile-work {
                margin-top: 34px;

                input {
                    width: 100%;
                }

                @media screen and (max-width: 767px) {
                    display: block;
                    margin-top: 5px;
                }
            }

            @media screen and (max-width: 767px) {
                flex-basis: 100%;
            }
        }

        input[type=submit] {
            flex-basis: 100%;
            width: 100px;
            outline: 0;
            height: auto;
        }
    }
}