.profiles-wrapper {
    overflow-y: auto;
    h2 {
        text-align: center;
        display: block;
        background: rgba($color: $white, $alpha: 0.7);
        padding: 15px 25px;
        align-self: flex-end;
        flex: 100%;
        margin-bottom: 0;
    }

    ul {
        justify-content: flex-end;
        display: flex;
        flex-wrap: wrap;
        padding: 0 20px;
        
        .no-profile {
            margin: auto;
        }

        li {
            flex: 1 1 21%;
            background-image:  url(../../images/horse-silhouette.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: left;
            margin: 8px 0;
            padding-left: 35px;
            list-style-type: none;
            max-width: 21%;

            &.no-profile {
                text-align: center;
                transform: translateX(-50%);
                margin-left: 50%;
                flex: unset;
            }

            &:hover {
                cursor: pointer;
                text-decoration: underline;
                font-weight: 900;
                background-size: 25px;
            }

            a {
                text-decoration: underline;
                color: $black;
                
                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                    font-weight: 900;
                }
            }
        }
    }
    .profile-list-wrapper {
        ul {
            justify-content: start;
        }
    }

    .profiles-banner {
        background-image: url(../../images/horses-banner.jpg);
        background-size: contain;
        height: 100%;
        width: 100%;
        max-height: 240px;
        display: flex;
    }

    #profiles-search-form {
        margin-left: 50%;
        transform: translateX(-50%);
        display: inline-block;

        input[type="submit"] {
            padding: 4px 10px;
            box-shadow: 2px 2px 2px $primary_gray;
        }
    }
}