// ### Colors.
    $aqua: #61C9A8;
    $light-aqua: #C3EBDE;
    $dark-blue: #153B50;
    $black: #1C0F13;
    $yellow: #FEB95F;
    $red: #BA3B46;

    // Gray.
    $primary_gray: #3C3C3F;
    $secondary_gray: #606068;
    $light_gray: #7A7A82;

    // White.
    $white: #ffffff;
    

    // Orange.
    $accent_color: #F7931E;

// ### Fonts.
// Bank Gothic something similar to.
@import url('https://fonts.googleapis.com/css?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
$font-headings: 'Gothic A1', sans-serif;

$font-text: 'Montserrat', sans-serif;

// ### Breakpoints

// ### Other
    $max-width: 1000px;